.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron-1 {
  margin-top: 60px;
  color: inherit;
}
.beta-mark {
  color: #00CECE;
}

.groups-table {
    border-collapse: collapse;
}
td, th {
    vertical-align: top;
    padding: 5px;
} 
.cluster-container {
    float: left;
    padding-right: 5px;
    
    border: 2px solid rgb(218,218,218);
}
.trend-raise {
    color: green;
}
.trend-fall {
    color: red;
}
.trend-unknown {
    color: grey;
}

.share-section {
    float: left; 
    margin-top: 5px; 
    margin-right: 10px;
}

.shares-block {
    margin-bottom: 20px;
}
